.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    min-height: fit-content;
}

.profile {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.details-name{
    font-size: 50px;
    font-family: Poppins SemiBold;
}

.details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0px 24px 0px;
}

.details-role h1{
    font-size: 40px;
    font-family: cursive;
    margin-bottom: 20px;
}

.primary-text{
    color: (--white);
    margin-bottom: 10px;
}

.details-desc {
    font-size: 19px;
    margin:5px 0px 0px 0px;
    font-family: Poppins Light;
}

.profile-options .highlighted-btn{
    margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover{
    margin: 0 0 0 28px;
    background-color: white;
    color: black;
}

.pfp{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px red;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
}

.pfp-bg{
    height: 92%;
    width: 92%;
    background-image: url('../../../assets/Home/profilephoto.jpg');
    background-size: cover ;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.pfp-bg:hover{
    transform: scale(1.07);
    transition: 1s ease-out;

}

.colz .colz-icon i{
    color: red;
    padding: 8px;
    padding-left: 0px;
}


.colz .colz-icon i:hover{
    transform: scale(1.5);


}

@media screen and (max-width: 1110px) {
    .pfp{
        margin: 0 0px 0 80px;
    }
    .details-name{
        font-size: 20px;
    }
    .details-role .primary-text{
        font-size: 12px;
    }
    .profile-options .btn{
        padding: 11px 0;
        width: 120px;
        z-index: 700;
    }
}

@media screen and (max-width: 910px) {
    .pfp{
        margin: 0 0px 0 4px;
        height:320px;
        width: 320px;
    }
}

@media screen and (max-width: 810px) {
    .pfp{
        margin: 0 !important;
    }
    .profile{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .details{
        margin: 25px 0 0 0;
    }
    .profile-options .highlighted-btn{
        margin: 0 !important;
    }
    .profile-options .details-role {
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .pfp{
        height: 275px;
        width: 275px;
        margin-top: 90px;
    }
    .profile-details{
        width: 90%;
    }
}